<app-news-feed
  [sources]="sources"
  (sourceSelectionEvent)="setNewSource($event)"
  (ownNewsCheckEvent)="setOwnSource($event)"
  (filterEvent)="setFilter($event)"
></app-news-feed>

<div class="news-container">
  <app-preview-article
    *ngFor="let article of articlesToDisplay; let i = index"
    [articleData]="article"
    [isOwnArticle]="onlyOwnNews"
    [articleId]="(selectedSourceId ? selectedSourceId : 'own-news') + '--' + i"
  ></app-preview-article>
  <button *ngIf="articlesToDisplay.length > 0" mat-raised-button color="primary" (click)="setNewLimit()">Load more</button>
</div>
